html, body {
  height: 100%; }

body {
  background-color: #fafafa; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.empty {
  height: 60px; }

.footer {
  height: 60px;
  margin-top: -60px;
  position: relative;
  background-color: #acacac; }
