@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.section-title {
  box-sizing: border-box;
  margin: 0;
  font-size: 24px;
  line-height: 55px;
  color: #eeedec;
  padding: 0 0 0 42px;
  text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  background-image: -webkit-linear-gradient(bottom, #7b7878 0%, #a9a8a8 100%);
  background-image: linear-gradient(to top, #7b7878 0%, #a9a8a8 100%);
  border-radius: 5px 5px 0 0;
  border-left: 1px solid #6a6a6a;
  border-right: 1px solid #6a6a6a;
  border-top: 1px solid #9c9c9c; }

p {
  margin: 0 0 7px 0; }

.no-cssgradients .section-title {
  background: #8f8c8c; }

html, body {
  height: 100%;
  width: 100%;
  min-width: 1200px; }

body {
  background-color: #fafafa;
  font-family: 'OpenSans';
  font-size: 14px;
  background: url(../img/bg.jpg) center center fixed no-repeat;
  background-size: cover;
  color: #727070; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.empty {
  height: 60px; }

.container {
  width: 960px;
  margin: 35px auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.container-footer {
  width: 620px;
  margin: auto; }
  .container-footer:before, .container-footer:after {
    content: "";
    display: table; }
  .container-footer:after {
    clear: both; }

.container-wide {
  width: 1200px;
  height: 100%;
  margin: auto;
  position: relative; }

.aside {
  float: left;
  width: 250px;
  margin: 0 60px 0 0; }

.content-area {
  float: left;
  width: 650px; }

.about-me, .description {
  box-shadow: 0px 1px 1px 0px rgba(236, 232, 227, 0.75), inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
  background-image: -webkit-linear-gradient(top, #f7f6f5, #f0eeed);
  background-image: linear-gradient(to bottom, #f7f6f5, #f0eeed);
  padding: 30px 0;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6;
  border-top: 1px solid #636363; }
  .about-me:before, .description:before, .about-me:after, .description:after {
    content: "";
    display: table; }
  .about-me:after, .description:after {
    clear: both; }

.no-cssgradients .about-me, .no-cssgradients .description {
  background: #f4f3f2; }

.description {
  padding: 47px 42px 20px 42px;
  line-height: 21px;
  font-size: 14px; }

.callback {
  width: 405px;
  margin: 0 auto; }

.header {
  background-image: url(../img/bgheader.jpg);
  width: 100%;
  height: 90px;
  border-bottom: 7px solid #ffffff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1); }

.social-icon {
  padding: 0; }
  .social-icon li {
    display: inline-block;
    margin: 0 0 0 5px; }
    .social-icon li a {
      height: 44px;
      display: block; }

.link-logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -36px 0 0 0; }
  .link-logo img {
    margin: 0 0 0 9px; }

.social {
  position: absolute;
  right: 0;
  top: 50%;
  margin: -21px 0 0 0; }

.social-icon-fb, .social-icon-vk, .social-icon-tw, .social-icon-gh {
  background-image: url(../img/sprit.png);
  width: 42px;
  height: 44px;
  background-position: -151px -10px; }
  .social-icon-fb:hover, .social-icon-vk:hover, .social-icon-tw:hover, .social-icon-gh:hover {
    background-position: -114px -74px; }

.social-icon-vk {
  background-position: -270px -191px; }
  .social-icon-vk:hover {
    background-position: -10px -255px; }

.social-icon-tw {
  background-position: -250px -85px; }
  .social-icon-tw:hover {
    background-position: -208px -149px; }

.social-icon-gh {
  background-position: -10px -149px; }
  .social-icon-gh:hover {
    background-position: -72px -149px; }

.nav {
  margin: 0 0 35px 0; }

.nav-list, .contacts-list {
  box-sizing: border-box; }
  .nav-list :first-child, .contacts-list :first-child {
    border-radius: 5px 5px 0 0; }
  .nav-list :last-child, .contacts-list :last-child {
    border-radius: 0 0 5px 5px; }

.nav-item {
  font-family: "OpenSans-Semibold";
  font-size: 20px;
  color: #727070;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  background-image: -webkit-linear-gradient(top, white 0%, #fbf9f9 6%, #e9e6e5 100%);
  background-image: linear-gradient(to bottom, white 0%, #fbf9f9 6%, #e9e6e5 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05); }
  .nav-item.active {
    background-image: -webkit-linear-gradient(top, #7ee8cd 0%, #3eb799 100%);
    background-image: linear-gradient(to bottom, #7ee8cd 0%, #3eb799 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
    color: #1e7465; }
  .nav-item:hover {
    -webkit-transition: background linear .2s, color linear .2s;
    transition: background linear .2s, color linear .2s;
    background-image: -webkit-linear-gradient(top, #e8e7e7 0%, #e3e1e1 13%, #c2c0c0 100%);
    background-image: linear-gradient(to bottom, #e8e7e7 0%, #e3e1e1 13%, #c2c0c0 100%);
    box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
    color: #727070; }
  .nav-item a {
    text-decoration: none;
    padding: 14px 25px;
    display: block;
    color: #727070;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75); }
    .nav-item a.active {
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
      color: #1e7465; }
    .nav-item a:hover {
      color: #727070; }

.no-cssgradients .nav-item {
  background: #f2efef;
  border-bottom: 1px solid #d2d2d2; }
  .no-cssgradients .nav-item.active {
    background: #54c8ab; }
  .no-cssgradients .nav-item:hover {
    background: #e3e1e1; }

.contacts-list {
  background: #fbf9f9;
  border-radius: 5px; }

.contacts-item-name {
  padding: 7px 25px;
  font-family: "OpenSans-Semibold";
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  font-size: 20px;
  background-image: -webkit-linear-gradient(top, #f4cd80 0%, #f4cd80 10%, #dbb15c 100%);
  background-image: linear-gradient(to bottom, #f4cd80 0%, #f4cd80 10%, #dbb15c 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
  color: #d0982c; }

.no-cssgradients .contacts-item-name {
  background: #eac171;
  border-bottom: 1px solid #d6d5d3; }

.contacts-item {
  padding: 0 0 0 48px;
  background-image: -webkit-linear-gradient(top, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%);
  background-image: linear-gradient(to bottom, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%);
  font-size: 14px;
  color: #727070;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  border-left: 1px solid #d6d5d3;
  border-right: 1px solid #d6d5d3;
  position: relative;
  line-height: 38px; }
  .contacts-item:before, .contacts-item:after {
    content: "";
    display: table; }
  .contacts-item:after {
    clear: both; }
  .contacts-item:hover {
    -webkit-transition: background linear .2s, color linear .2s;
    transition: background linear .2s, color linear .2s;
    background-image: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(224, 196, 145, 0.45) 100%);
    background-image: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, rgba(224, 196, 145, 0.45) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1); }
  .contacts-item:before {
    content: "";
    background-image: url(../img/sprit.png);
    width: 10px;
    height: 38px;
    float: left;
    background-position: -10px -10px;
    margin: 0 30px 0 0; }
  .contacts-item .contacts-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    margin-top: -10px; }
  .contacts-item a {
    text-decoration: none;
    color: #727070; }
    .contacts-item a.email {
      text-decoration: underline; }

.no-cssgradients .contacts-item {
  background: #f9f8f8;
  border-bottom: 1px solid #d6d5d3; }
  .no-cssgradients .contacts-item:hover {
    background: #f9f4ea; }

.section {
  margin-bottom: 35px;
  box-sizing: border-box;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: #727070; }

.photo {
  box-sizing: border-box;
  float: left;
  width: 230px;
  padding: 10px 0 0 42px; }

.photo-box {
  box-sizing: border-box;
  width: 151px;
  height: 151px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #f6f5f4;
  box-shadow: 0px 0px 0px 1px #dddcdb; }

.photo-box img {
  width: 100%; }

.about-me-description {
  box-sizing: border-box;
  margin-left: 230px;
  width: 420px;
  padding: 0 42px 0 0;
  color: #727070; }

.about-me-description-list span {
  font-family: "OpenSans"; }

.about-me-description-list li {
  line-height: 25px; }

.description-list li {
  margin-left: 97px; }

.description-list span {
  display: block;
  font-family: "OpenSans"; }

.description-list li:after {
  content: " ";
  display: block;
  border-bottom: 1px solid #dbdbda;
  box-shadow: 0px 1px 1px 0px rgba(251, 251, 251, 0.75);
  border-radius: 1px;
  margin: 25px 0 25px -97px; }

.description-list li:last-child:after {
  content: " ";
  display: block;
  border-bottom: none;
  box-shadow: none;
  padding-bottom: 0px; }

.description-list li:before {
  content: "";
  width: 54px;
  height: 55px;
  float: left;
  display: block;
  background-repeat: no-repeat; }

li.case:before, li.school:before, li.graduate:before, li.file:before {
  background-image: url(../img/sprit.png);
  background-position: -40px -10px;
  margin-left: -97px;
  margin-top: -7px; }

li.school:before {
  background-position: -252px -10px; }

li.graduate:before {
  background-position: -134px -149px; }

li.file:before {
  background-position: -176px -74px; }

.skill {
  padding-top: 10px;
  float: left; }

.skill-item {
  background: url(../img/skill.png) repeat-x;
  min-height: 25px;
  vertical-align: middle;
  display: inline-block;
  font-size: 9px;
  padding: 0;
  color: #1e7465;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
  line-height: 11px; }
  .skill-item:before {
    content: "";
    background: url(../img/skillberofe.png) no-repeat;
    display: inline-block;
    min-width: 10px;
    min-height: 25px;
    vertical-align: middle;
    right: 9px;
    position: relative; }
  .skill-item:after {
    content: "";
    background: url(../img/skillafter.png) no-repeat;
    display: inline-block;
    min-width: 6px;
    min-height: 25px;
    vertical-align: middle;
    left: 5px;
    position: relative; }

.skill-list {
  margin: 10px 0 0 145px; }
  .skill-list li {
    display: inline-block;
    padding: 0 10px; }

.footer {
  height: 60px;
  margin-top: -60px;
  position: relative;
  background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
  color: #727070;
  font-size: 12px; }

.no-cssgradients .footer {
  background: #f7f7f7; }

.copyright {
  float: left;
  line-height: 60px;
  font-family: "OpenSans-Light"; }

.login {
  width: 125px;
  float: left;
  line-height: 60px; }

.sprite-locked {
  width: 24px;
  height: 22px;
  background-image: url(../img/sprit.png);
  background-position: -214px -11px;
  margin-top: 19px;
  float: left; }
  .sprite-locked:hover {
    background-position: -270px -150px; }

.log {
  float: left;
  padding: 0 0 0 10px;
  font-family: "OpenSans-Bold"; }
