@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.section-title {
  box-sizing: border-box;
  margin: 0;
  font-size: 24px;
  line-height: 25px;
  color: #eeedec;
  padding: 14px 0 14px 42px;
  text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  background-image: -webkit-linear-gradient(bottom, #7b7878 0%, #a9a8a8 100%);
  background-image: linear-gradient(to top, #7b7878 0%, #a9a8a8 100%);
  border-radius: 5px 5px 0 0;
  border-left: 1px solid #6a6a6a;
  border-right: 1px solid #6a6a6a;
  border-top: 1px solid #9c9c9c; }

label {
  margin: 0 0 7px 0;
  display: block; }

.no-cssgradients .section-title {
  background: #8f8c8c; }

html, body {
  height: 100%;
  width: 100%;
  min-width: 1200px; }

body {
  background-color: #fafafa;
  font-family: 'OpenSans';
  font-size: 14px;
  background: url(../img/bg.jpg) center center fixed no-repeat;
  background-size: cover;
  color: #727070; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.empty {
  height: 60px; }

.content {
  margin: 35px auto; }
  .content:before, .content:after {
    content: "";
    display: table; }
  .content:after {
    clear: both; }

.container {
  width: 960px;
  margin: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.container-footer {
  width: 620px;
  margin: auto; }
  .container-footer:before, .container-footer:after {
    content: "";
    display: table; }
  .container-footer:after {
    clear: both; }

.container-wide {
  width: 1200px;
  height: 100%;
  margin: auto;
  position: relative; }

.aside {
  float: left;
  width: 250px;
  margin: 0 60px 0 0; }

.content-area {
  float: left;
  width: 650px; }

.about-me, .description {
  box-shadow: 0px 1px 1px 0px rgba(236, 232, 227, 0.75), inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
  background-image: -webkit-linear-gradient(top, #f7f6f5, #f0eeed);
  background-image: linear-gradient(to bottom, #f7f6f5, #f0eeed);
  padding: 30px 0;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6;
  border-top: 1px solid #636363; }
  .about-me:before, .description:before, .about-me:after, .description:after {
    content: "";
    display: table; }
  .about-me:after, .description:after {
    clear: both; }

.no-cssgradients .about-me, .no-cssgradients .description {
  background: #f4f3f2; }

.description {
  padding: 47px 42px 20px 42px;
  line-height: 21px;
  font-size: 14px; }

.callback {
  width: 405px;
  margin: 0 auto; }

.header {
  background-image: url(../img/bgheader.jpg);
  width: 100%;
  height: 90px;
  border-bottom: 7px solid #ffffff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1); }

.social-icon {
  padding: 0; }
  .social-icon li {
    display: inline-block;
    margin: 0 0 0 5px; }
    .social-icon li a {
      height: 44px;
      display: block; }

.link-logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -36px 0 0 0; }
  .link-logo img {
    margin: 0 0 0 9px; }
  .link-logo h1 {
    font-size: 0px; }

.social {
  position: absolute;
  right: 0;
  top: 50%;
  margin: -21px 0 0 0; }

.social-icon-fb, .social-icon-vk, .social-icon-tw, .social-icon-gh {
  background-image: url(../img/sprit.png);
  width: 42px;
  height: 44px;
  background-position: -151px -10px; }
  .social-icon-fb:hover, .social-icon-vk:hover, .social-icon-tw:hover, .social-icon-gh:hover {
    background-position: -114px -74px; }
  .social-icon-fb a, .social-icon-vk a, .social-icon-tw a, .social-icon-gh a {
    overflow: hidden;
    color: transparent;
    text-indent: -65px; }

.social-icon-vk {
  background-position: -54px -213px; }
  .social-icon-vk:hover {
    background-position: -208px -213px; }

.social-icon-tw {
  background-position: -250px -85px; }
  .social-icon-tw:hover {
    background-position: -249px -149px; }

.social-icon-gh {
  background-position: -10px -149px; }
  .social-icon-gh:hover {
    background-position: -72px -149px; }

.nav {
  margin: 0 0 35px 0; }

.nav-list {
  box-sizing: border-box; }
  .nav-list :first-child {
    border-radius: 5px 5px 0 0; }
  .nav-list :last-child {
    border-radius: 0 0 5px 5px; }

.nav-item {
  font-family: "OpenSans-Semibold";
  font-size: 20px;
  color: #727070;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  background-image: -webkit-linear-gradient(top, white 0%, #fbf9f9 6%, #e9e6e5 100%);
  background-image: linear-gradient(to bottom, white 0%, #fbf9f9 6%, #e9e6e5 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05); }
  .nav-item.active {
    background-image: -webkit-linear-gradient(top, #7ee8cd 0%, #3eb799 100%);
    background-image: linear-gradient(to bottom, #7ee8cd 0%, #3eb799 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
    color: #1e7465; }
  .nav-item:hover {
    -webkit-transition: background linear .2s, color linear .2s;
    transition: background linear .2s, color linear .2s;
    background-image: -webkit-linear-gradient(top, #e8e7e7 0%, #e3e1e1 13%, #c2c0c0 100%);
    background-image: linear-gradient(to bottom, #e8e7e7 0%, #e3e1e1 13%, #c2c0c0 100%);
    box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
    color: #727070; }
  .nav-item a {
    text-decoration: none;
    padding: 14px 25px;
    display: block;
    color: #727070;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75); }
    .nav-item a.active {
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
      color: #1e7465; }
    .nav-item a:hover {
      color: #727070; }

.no-cssgradients .nav-item {
  background: #f2efef;
  border-bottom: 1px solid #d2d2d2; }
  .no-cssgradients .nav-item.active {
    background: #54c8ab; }
  .no-cssgradients .nav-item:hover {
    background: #e3e1e1; }

.contacts-list {
  background: #fbf9f9;
  border-radius: 0 0 5px 5px; }

.contacts-name {
  padding: 7px 25px;
  font-family: "OpenSans-Semibold";
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  font-size: 20px;
  background-image: -webkit-linear-gradient(top, #f4cd80 0%, #f4cd80 10%, #dbb15c 100%);
  background-image: linear-gradient(to bottom, #f4cd80 0%, #f4cd80 10%, #dbb15c 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
  color: #d0982c;
  border-radius: 5px 5px 0 0; }

.no-cssgradients .contacts-name {
  background: #eac171;
  border-bottom: 1px solid #d6d5d3; }

.contacts-item {
  padding: 0 5px 0 48px;
  background-image: -webkit-linear-gradient(top, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%);
  background-image: linear-gradient(to bottom, #e9e7e7 0%, rgba(251, 249, 249, 0) 100%);
  font-size: 14px;
  color: #727070;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  border-left: 1px solid #d6d5d3;
  border-right: 1px solid #d6d5d3;
  position: relative;
  line-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis; }
  .contacts-item:before, .contacts-item:after {
    content: "";
    display: table; }
  .contacts-item:after {
    clear: both; }
  .contacts-item:hover {
    -webkit-transition: background linear .2s, color linear .2s;
    transition: background linear .2s, color linear .2s;
    background-image: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(224, 196, 145, 0.45) 100%);
    background-image: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, rgba(224, 196, 145, 0.45) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1); }
  .contacts-item .contacts-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    margin-top: -10px; }
  .contacts-item:last-child {
    border-radius: 0 0 5px 5px; }

.icon-link {
  text-decoration: none;
  color: #727070;
  padding: 0 5px 0 40px; }
  .icon-link.email {
    text-decoration: underline; }

.contacts-icon {
  background-image: url(../img/sprit.png);
  width: 22px;
  height: 22px; }
  .contacts-icon:before {
    content: "";
    background-image: url(../img/sprit.png);
    width: 10px;
    height: 38px;
    float: left;
    background-position: -10px -10px;
    margin: -9px 0 0 30px; }

.contacts-icon-email {
  background-position: -114px -10px; }

.contacts-icon-phone {
  background-position: -50px -85px; }

.contacts-icon-skype {
  background-position: -10px -85px; }

.no-cssgradients .contacts-item {
  background: #f9f8f8;
  border-bottom: 1px solid #d6d5d3; }
  .no-cssgradients .contacts-item:hover {
    background: #f9f4ea; }

.footer {
  height: 60px;
  margin-top: -60px;
  position: relative;
  background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
  color: #727070;
  font-size: 12px;
  overflow: hidden; }

.no-cssgradients .footer {
  background: #f7f7f7; }

.copyright {
  float: left;
  padding: 21px 0;
  font-family: "OpenSans-Light";
  max-width: 495px; }

.login {
  width: 125px;
  float: left; }

.locked-wrap {
  display: inline-block; }
  .locked-wrap:before, .locked-wrap:after {
    content: "";
    display: table; }
  .locked-wrap:after {
    clear: both; }
  .locked-wrap:hover .locked {
    background-position: -10px -213px; }

.locked {
  width: 24px;
  height: 22px;
  background-image: url(../img/sprit.png);
  background-position: -213px -10px;
  margin-top: 19px;
  float: left; }

.log {
  float: left;
  padding: 21px 5px;
  font-family: "OpenSans-Bold";
  text-decoration: none;
  color: #727070; }
  .log:hover .sprite-locked {
    background-position: -10px -213px; }

.description {
  padding-top: 27px; }

.callback {
  width: 406px; }
  .callback:before, .callback:after {
    content: "";
    display: table; }
  .callback:after {
    clear: both; }

.callback-item {
  font-family: "OpenSans-Light";
  font-size: 12px;
  border: 1px solid #d6d4d3;
  border-radius: 3px;
  padding: 10px;
  width: 190px;
  vertical-align: top;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, #fbfcfd 0%, #f3f3f3 100%);
  background: linear-gradient(to bottom, #fbfcfd 0%, #f3f3f3 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1); }
  .callback-item:focus {
    outline-color: #cb6945; }

.callback-input-margin {
  margin-right: 25px; }

.callback-input {
  float: left;
  margin-bottom: 15px; }
  .callback-input:before, .callback-input:after {
    content: "";
    display: table; }
  .callback-input:after {
    clear: both; }

.callback-item-message {
  width: 405px;
  height: 180px;
  resize: none; }

.capcha-generate {
  border: 1px solid #d6d4d3;
  border-radius: 3px;
  background: #fbfcfd;
  width: 180px;
  height: 66px;
  padding: 5px;
  float: left;
  margin-right: 20px; }
  .capcha-generate:before, .capcha-generate:after {
    content: "";
    display: table; }
  .capcha-generate:after {
    clear: both; }

.capcha:before, .capcha:after {
  content: "";
  display: table; }

.capcha:after {
  clear: both; }

.capcha-input {
  margin-top: 28px; }
  .capcha-input:before, .capcha-input:after {
    content: "";
    display: table; }
  .capcha-input:after {
    clear: both; }

.callback-item-capcha {
  padding: 6px 10px; }

.callback-button {
  padding: 10px 23px;
  color: #727070;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  font-family: "OpenSans-Semibold";
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  font-size: 14px;
  margin: 30px;
  outline: none;
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
  background: -webkit-linear-gradient(top, #fefefd 0%, #e9e6e5 94%, white 100%);
  background: linear-gradient(to bottom, #fefefd 0%, #e9e6e5 94%, white 100%); }
  .callback-button:hover {
    box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
    background: -webkit-linear-gradient(bottom, #c2c0c0 0%, #e3e1e1 87%, #e6e4e4 90%, #e8e7e7 100%);
    background: linear-gradient(to top, #c2c0c0 0%, #e3e1e1 87%, #e6e4e4 90%, #e8e7e7 100%); }

.no-cssgradients .callback-button {
  background: #f1efee; }
  .no-cssgradients .callback-button:hover {
    background: #d5d3d3; }

.callback-button-submit {
  background: -webkit-linear-gradient(bottom, #43b796 0%, #80e8cb 100%);
  background: linear-gradient(to top, #43b796 0%, #80e8cb 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  border-top: 1px solid #6adbbc;
  border-left: #44ac8f;
  border-right: #44ac8f;
  border-bottom: #34a282;
  color: #1e7465; }
  .callback-button-submit:hover {
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    background: -webkit-linear-gradient(bottom, #3aa087 0%, #5fdcbd 100%);
    background: linear-gradient(to top, #3aa087 0%, #5fdcbd 100%); }

.no-cssgradients .callback-button-submit {
  background: #61cfb0; }
  .no-cssgradients .callback-button-submit:hover {
    background: #49b99d; }

.button:before, .button:after {
  content: "";
  display: table; }

.button:after {
  clear: both; }

.callback-button-reset {
  float: right; }
