.add-project-header{
	font-family: "OpenSans-Light";
	font-size: 12px;
	color: #f8f7f6;
	padding-left: 22px;

}
.add-project{
	width: 365px;
	margin: auto;
	display: none;
}
.add-project-wrap{
	box-sizing: border-box;
	background: linear-gradient( to bottom, #f8f7f6 0%, #f0eeed 100%);
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	padding: 15px 25px 25px;
	position: relative;
}
.no-cssgradients .add-project-wrap{
	background: #f6f5f4;

}
.project-label{
	font-family: "OpenSans";
	font-size: 14px; 
	color: $color;
	margin: 7px 0;

}
.input-item{
	font-family: "OpenSans-Light";
	width: 100%;
	color: #c7c6c6;
	height: 40px;
	font-size: 12px;
	border: 1px solid #d6d4d3;
	border-radius: 3px;
	padding: 10px;
	vertical-align: top;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	background: linear-gradient( to bottom, #fbfcfd 0%, #f3f3f3 100%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	&:focus{
		outline-color: #cb6945;
	}
}
.btn-wrap{
	margin: auto;
	width: 116px;
}
.input-button{
	padding: 10px 23px;	
	color: rgb(114, 112, 112);
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	font-family: "OpenSans-Semibold";
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	font-size: 14px;
	margin: 15px auto 0 auto ;
	outline: none;
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	background: linear-gradient( to bottom, #fefefd 0%, #e9e6e5 94%, rgb(255,255,255) 100%);
	&:hover{
		box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
		background: linear-gradient( to top, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	}
}
.no-cssgradients .input-button{
	background: #f1efee;
	&:hover{
		background: #d5d3d3;
	}
}
.input-button-submit{
	background: linear-gradient( to top, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	border-top: 1px solid #6adbbc;
	border-left: #44ac8f ;
	border-right: #44ac8f;
	border-bottom: #34a282;
	color: rgb(30, 116, 101);
	&:hover{
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
		background: linear-gradient( to top, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	}
}
.no-cssgradients .input-button-submit{
	background: #61cfb0;
	&:hover{
		background: #49b99d;
	}
}
.textarea-item{
	resize: none;
	width: 100%;
	height: 110px;
	overflow: hidden;
}
.add-file{
	overflow: hidden;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	width: 53px;
	height: 38px;
}
.add-file-img{
	
	position: absolute;
	width: 52px;
	height: 38px;
	right: 26px;
	top: 122px;
	background: linear-gradient(to bottom,  #ffffff 0%,#fbf9f9 6%,#e9e8e8 100%);
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #d6d4d3;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	cursor: pointer;
}
.add-file-image-cloud{
	background-image: url(../img/iCloud.png);
	background-position: 13px 8px;
	background-repeat: no-repeat;
	display: block;
	width: 52px;
	height: 38px;
}

.close-btn{
	background-image: url(../img/close.png);
	width:14px;
	height: 14px;
	display: block;
	float: right;
	margin: -8px -18px 0 0;
	cursor: pointer;
}
.error-mes{
	color: red;
	display: none;
}
.success-mes{
	color: green;
	display: none;
}
