.nav{
	margin: 0 0 35px 0;
}
.nav-list{
	box-sizing: border-box;

	& :first-child{
	border-radius: 5px 5px 0 0;
	}
	& :last-child{
		border-radius: 0 0 5px 5px;
	}
}
.nav-item{
	font-family: "OpenSans-Semibold";
	font-size: 20px;
	color: $color;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(251,249,249,1) 6%, rgba(233,230,229,1) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
    
	
	&.active{
		background-image: linear-gradient(to bottom, rgba(126,232,205,1) 0%, rgba(62,183,153,1) 100%);
		box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
		color: $activNavColor;

	}
	&:hover{
		transition: background linear .2s, color linear .2s;
		background-image: linear-gradient(to bottom, rgba(232,231,231,1) 0%, rgba(227,225,225,1) 13%, rgba(194,192,192,1) 100%);
		box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
		color: $color;
		
	}
	a{
		text-decoration: none;
		padding: 14px 25px;
		display: block;
		color: $color;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
		&.active{
			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
			color: $activNavColor;
		}
		&:hover{
			color: $color;
		}
		
	}
}
.no-cssgradients .nav-item{
	background: #f2efef;
	border-bottom: 1px solid #d2d2d2;
	&.active{
		background: #54c8ab;
	}
	&:hover{
		background: #e3e1e1;
	}
}
.contacts-list{
	background: #fbf9f9;
	border-radius: 0 0 5px 5px;
}
.contacts-name{
	padding: 7px 25px;
	font-family: "OpenSans-Semibold";
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	font-size: 20px;
	background-image: linear-gradient(to bottom, rgba(244,205,128,1) 0%, rgba(244,205,128,1) 10%, rgba(219,177,92,1) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
	color: #d0982c;
	border-radius: 5px 5px 0 0;
}
.no-cssgradients .contacts-name{
	background: #eac171;
	border-bottom: 1px solid #d6d5d3;

}
.contacts-item{
	@include clearfix();
	padding: 0 5px 0 48px;
	background-image: linear-gradient( to bottom, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	font-size: 14px;
	color: $color;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	border-left: 1px solid rgb(214, 213, 211);
	border-right: 1px solid rgb(214, 213, 211);
	position: relative;
	line-height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	&:hover{
		transition: background linear .2s, color linear .2s;
		background-image: linear-gradient(to bottom, rgba(251,249,249,0) 0%, rgba(224,196,145,0.45) 100%);
		box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	}
	 
	.contacts-icon{
		position: absolute;
		left: 18px;
		top: 50%;
		margin-top: -10px;
	}
	
	&:last-child{
		border-radius: 0 0 5px 5px;
	}

}
.icon-link{
		text-decoration: none;
		color: $color;
		padding: 0 5px 0 40px;
		&.email{
			text-decoration: underline;
		}
	}
.contacts-icon{
	background-image: url(../img/sprit.png);
	width: 22px;
	height: 22px;
	&:before{
		content: "";
		background-image: url(../img/sprit.png);
		width: 10px;
	    height: 38px;
	    float: left;
	    background-position: -10px -10px;
	    margin: -9px 0 0 30px;
	} 
}
.contacts-icon-email{
	background-position: -114px -10px;
}
.contacts-icon-phone{
	background-position: -50px -85px;
}
.contacts-icon-skype{
	background-position: -10px -85px;
}
.no-cssgradients .contacts-item{
	background: #f9f8f8;
	border-bottom: 1px solid #d6d5d3;
	&:hover{
		background: #f9f4ea;
	}
}