.has-error{
	box-sizing: border-box;
	border:  1px solid #e0ad9a;
	border-radius: 3px;	
}
.qtip-mystyle{
	background: linear-gradient(to bottom, #f3a287 10%,#d37654 100%);
	border: 1px solid #f19a7c;
	border-radius: 3px;
	font-size: 12px;
	color: #9a4e32;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);

.no-cssgradient{
	background: #e38b6d;
}
.qtip-tip{
	background: linear-gradient(to bottom, #f3a287 10%,#d37654 100%);
}
