.has-error{
	outline-color: #e0ad9a;
	//border: 1px solid red;
}
.qtip-mystyle{
	background: linear-gradient(to bottom, #f3a287 10%,#d37654 100%);
	border: 1px solid #f19a7c;
	border-radius: 3px;
	color: #9a4e32;
	text-shadow: .5px .5px .2px rgba(255, 255, 255, 0.75);
}
.no-cssgradient{
	background: #e38b6d;
}
.qtip-tip{
	background: linear-gradient(to bottom, #f3a287 10%,#d37654 100%);
}