html{
	height: 100%;
	width: 100%;
	min-width: 1200px;
}
body {
	@extend html;
	background-color: #fafafa;
	font-family: 'OpenSans';
	font-size: 14px;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
.empty{
	height: $footer;
}
.container{
	@include clearfix();
	width: 960px;
	margin: 35px auto;
}
.container-footer{
	@include clearfix();
	width: 960px;
	margin: auto;
}
.container-wide{
	width: 1200px;
	height: 100%;
	margin: auto; 
	position: relative;
}
.aside{
	float: left;
	width: 250px;
	margin: 0 60px 0 0;
}
.content-area{
	float: left;
	background-color: #acacac;
	width: 650px;
}