html{
	height: 100%;
	width: 100%;
	min-width: 1200px;
}
body {
	@extend html;
	@include clearfix();
	background-color: #fafafa;
	font-family: 'OpenSans';
	font-size: 14px;
	background: url(../img/bg.jpg) center center fixed no-repeat;
	background-size: cover;
	color: $color;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
.empty{
	height: $footer;
}
.container{
	@include clearfix();
	width: 960px;
	margin: 35px auto;
}
.container-footer{
	@include clearfix();
	width: 620px;
	margin: auto;
}
.container-wide{
	width: 1200px;
	height: 100%;
	margin: auto; 
	position: relative;
}
.aside{
	float: left;
	width: 250px;
	margin: 0 60px 0 0;
}
.content-area{
	float: left;
	width: 650px;
}
.about-me{
	@include clearfix();
	box-shadow: 0px 1px 1px 0px rgba(236, 232, 227, 0.75),inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
	background-image: linear-gradient( to bottom, #f7f6f5, #f0eeed);
	padding: 30px 0;
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
	border-top: 1px solid #636363;
}
.no-cssgradients .about-me{
	background: #f4f3f2;
}
.description{
	@extend .about-me;
	padding: 47px 42px 20px 42px;
	line-height: 21px;
	font-size: 14px;
}
.callback{
	width: 405px;
	margin: 0 auto;
}