.project{
	padding-bottom: 20px;
	@include clearfix();
}
.project-row{
	margin: 0 0 33px 0;
	@include clearfix();
}
.project-wrap{
	float: left;
	width: 166px;
	box-sizing: border-box;
	background: black;
	overflow: hidden;
	&:nth-child(2){
		margin: 0 33px;
	}
	border: 1px solid #b6b6b6;
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07);
	border-radius: 5px;
	background: linear-gradient( to top, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
}
.project-pic{
  overflow: hidden;
  height: 119px;
  position: relative;
  background: #6f6d6d;
  opacity: .41;
  &:hover{
    opacity: 1;
  }
}
.wrap-image-link{
  display: block;
}
.project-name{
	font-family: "OpenSans-Semibold";
	background: rgba(65, 64, 64, 0.071);
	font-size: 13px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	text-align: center;
	line-height: 32px;
}
.poject-description{
	font-family: "OpenSans";
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	padding: 8px;
}
.more-project{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  &:hover .more-link{
    opacity: 1;
  }
   
}
  .more-link{
  position: absolute;
  left: 35px;
  top: 45%;
  opacity: 0;
  color: #757374;
  border: 1px solid #b2b2b2;
  background: rgba(247, 247, 247, .9);
  text-decoration: none;
  padding: 5px 7px;
  border-radius: 5px;
}
.project-add{
	text-align: center;
	a{
		display: block;
		text-decoration: none;
		color: $color;
		min-height: 135px;
		&:hover{
		background-color: #d7d7d7;
		box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.75),inset 1px 1px 0px 0px rgba(199, 199, 199, 0.75);
		}
		
	img{
		padding: 17px 0 0 0;

	}
	span{
		display: block;
		padding: 10px 0 0 0px;
		font-family: "OpenSans-Semibold";
		font-size: 14px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	}
	.wrap-img{
		box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.75),inset 1px 1px 0px 0px rgba(199, 199, 199, 0.75);
		display: inline-block;
		border-radius: 50px;
		width: 55px;
		height: 55px;
		margin:25px 0 0 0;
	}
	}
}
