.project{
	padding-bottom: 20px;
	min-width:565px; 
	@include clearfix();
}
.project-row{
	margin: 0 0 33px 0;
	@include clearfix();
}
.project-wrap{
	float: left;
	width: 166px;
	box-sizing: border-box;
	overflow: hidden;
	margin-left: 33px;
	&:first-child{
		margin-left: 0px;
	}
	border: 1px solid #b6b6b6;
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07);
	border-radius: 5px;
	background: linear-gradient( to top, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
}
//Анимация
.project-item{
	position: relative;

}
.more-project{
	position: absolute;
	width: 100%;
    top: 55px;
    text-align: center;
    opacity: 0;
    transition: all .3s ease-in-out;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.more-link{
	color: #757374;
	border: 1px solid #b2b2b2;
	background: rgba(247, 247, 247, .9);
	text-decoration: none;
	padding: 5px 7px;
	border-radius: 5px;
}
.no-rgba .more-link{
	background: #ebecec;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.project-pic{
	background-color: #c4c3c3;
	height: 119px;
	overflow: hidden;
}
.project-item{
	&:hover .more-project{
		opacity: 1;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	}
	&:hover .projects-img {
		opacity: .2;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	}
}
//Анимация конец
.project-name{
	font-family: "OpenSans-Semibold";
	background: rgba(65, 64, 64, 0.071);
	font-size: 13px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	text-align: center;
	line-height: 32px;
}
.no-rgba .project-name{
	background: #f2f2f2;
}
.poject-description{
	font-family: "OpenSans";
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	padding: 8px;
	background: #ffffff;
}
.project-add{
	text-align: center;
	a{
		display: block;
		text-decoration: none;
		color: $color;
		min-height: 135px;
		&:hover{
		background-color: #d7d7d7;
		box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.75),inset 1px 1px 0px 0px rgba(199, 199, 199, 0.75);
		}
	span{
		display: block;
		padding: 10px 0 0 0px;
		font-family: "OpenSans-Semibold";
		font-size: 14px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	}
	.wrap-img{
		box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.75),inset 1px 1px 0px 0px rgba(199, 199, 199, 0.75);
		display: inline-block;
		border-radius: 50px;
		width: 55px;
		height: 55px;
		margin:25px 0 0 0;
	}
	}
}
.project-add-icon{
	background: url(../img/sprit.png);
	width: 21px;
    height: 21px;
    background-position: -208px -149px;
    display: block;
    margin: 18px auto;
}