$footer : 60px;

$colorWhite: #ffffff;
$colorGrey: #f0f0f0;

$activNavColor: #1e7465;
$color: #727070;

$colorH1: #eeedec;

ul{
	list-style: none;
	padding:0;
	margin: 0;
}
h1{
	box-sizing: border-box;
	margin: 0;
	font-size: 24px;
	line-height: 55px;
	color: $colorH1;
	padding: 0 0 0 42px;
	text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	background-image: linear-gradient(to top, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	border-radius: 5px 5px 0 0;
	border-left: 1px solid #6a6a6a;
	border-right: 1px solid #6a6a6a;
	border-top: 1px solid #9c9c9c;
}